@model Product

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    <h1>Create</h1>
    @Html.AntiForgeryToken();
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <p>With a * are required fields</p>
        <div class="form-group">
            <label  class="control-label col-md-2">categoryId*</label>
            <div class="col-md-3">
                <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(@ViewBag.CategoryId,"CategoryId","CategoryName"))"></select>
                @Html.ValidationMessageFor(model=>model.CategoryId)
            </div>     
        </div>
        <div class="form-group">
            <label  class="control-label col-md-2">ProductName*</label>
            <div class="col-md-3">
                <input asp-for="ProductName" class="form-control"/>
                @Html.ValidationMessageFor(model=>model.ProductName)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">ProductPrice*</label>
            <div class="col-md-3">
                <input asp-for="ProductPrice" class="form-control"/>
                @Html.ValidationMessageFor(model=>model.ProductPrice)
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductDescription" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <textarea asp-for="ProductDescription" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImgUrl" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="ImgUrl" class="form-control"/>
                @Html.ValidationMessageFor(model=>model.ImgUrl)
            </div>
        </div>
        <div class="form-group">
            <label asp-for="spec1" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="spec1" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="spec2" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="spec2" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="spec3" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="spec3" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="spec4" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="spec4" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="spec5" class="control-label col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="spec5" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Stock*</label>
            <div class="col-md-3">
                <input asp-for="Stock" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">OldPrice*</label>
            <div class="col-md-3">
                <input asp-for="OldPrice" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
                <label asp-for="OnSale" class="control-label col-md-2"></label>
                    <input asp-for="OnSale">
            </div>

            
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default"/>
            <a class="btn btn-default"asp-action="ManageCategories">Back to categorie list</a>
        </div>
    </div>
}