@model PaginatedList<Webstore_MyElectronics.Models.Product>
    

@{
    ViewBag.Title = "ManageProductsCategory";
}



@using (Html.BeginForm())
{<div class="store-page">
    <div class="navbar navbar navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse main-nav">
                <ul class="nav navbar-nav">
                    <li><a asp-action="Index">Webshop overview</a></li>
                    <li><a asp-action="ManageProducts">Manage Products</a></li>
                    <li><a asp-action="ManageUsers">Manage Users</a></li>
                    <li><a asp-action="ManageCategories">Manage Product categories</a></li>
                </ul>
            </div>
        </div>
    </div> 
    
    <h1 style="margin-bottom:20px;">Manage Products</h1>

    <div class="col-md-3">
    <div class="search-box">
            <br>
            <form asp-controller="Search" asp-action="Index" method="get">
                <input type="search" placeholder="Search" name="searchString" value="@ViewBag.CurrentFilter">
            </form>
        </div>
            <ul>
                <li><span  style="font-size:30px; width:40px; margin-top:15px;" class="fa fa-laptop"></span><a asp-controller="StoreManager" asp-action="ManageProductsCategory" asp-route-category="1" asp-route-onsale="@ViewBag.OnSale" asp-route-stock="@ViewBag.Stock">Laptops</a></li>
                <li><span  style="font-size:30px; width:40px; margin-top:15px;" class="fa fa-desktop"></span><a asp-controller="StoreManager" asp-action="ManageProductsCategory" asp-route-category="4" asp-route-onsale="@ViewBag.OnSale" asp-route-stock="@ViewBag.Stock">Desktops</a></li>
                <li><span  style="font-size:40px; width:40px;  margin-top:15px;" class="fa fa-tablet"></span><a asp-controller="Storemanager" asp-action="ManageProductsCategory" asp-route-category="3" asp-route-onsale="@ViewBag.OnSale" asp-route-stock="@ViewBag.Stock">Tablets</a></li>
                <li><span  style="font-size:40px; width:40px; margin-top:15px;" class="fa fa-mobile"></span><a asp-controller="StoreManager" asp-action="ManageProductsCategory" asp-route-category="4" asp-route-onsale="@ViewBag.OnSale" asp-route-stock="@ViewBag.Stock">Phones</a></li>
            </ul>
            <form asp-action="ManageProductsCategory" >
                stock: <input type="checkbox" name="stock" value="true">
                onsale: <input type="checkbox" name="onsale" value="true">
                <input class="button" type="submit" value="Sort">
            </form>
    </div>

    <div class="col-md-9">
    <p>@Html.ActionLink("Create product","CreateProduct","StoreManager")</p>

    <table class="table">
    <tr>
        <th>
            Category
        </th>
        <th>
            Product Name
        </th>
        <th>
            Product Price
        </th>
        <th>
            Stock
        </th>
        <th></th>
    </tr>


    @foreach(var Product in Model){
        <tr>
            <td>
                @Product.CategoryId
            </td>
            <td>
                @Product.ProductName
            </td>
            <td>
                €@Product.ProductPrice
            </td>
            <td>
            @if(Product.Stock <=0)
            {
                <p style="color:red;">@Product.Stock</p>
            }
            @if(Product.Stock >0)
            {
                <p >@Product.Stock</p>
            }
            </td>
            <td>
                @Html.ActionLink("Edit ","EditProduct", new {id = Product.ProductId})|
                @Html.ActionLink("Details","DetailsProduct", new {id = Product.ProductId})|
                @Html.ActionLink("Delete","DeleteProduct", new {id = Product.ProductId})
            </td>
        </tr>
    }
    </table>
        <div class="prevnext">
    @{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="ManageProductsCategory"
   asp-route-sortOrder="@ViewBag.CurrentSort"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewBag.CurrentFilter"
   asp-route-onsale="@ViewBag.OnSale"
   asp-route-stock="@ViewBag.Stock"
   asp-route-category="@ViewBag.Category"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="ManageProductsCategory"
   asp-route-sortOrder="@ViewBag.CurrentSort"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewBag.CurrentFilter"
   asp-route-onsale="@ViewBag.OnSale"
   asp-route-stock="@ViewBag.Stock"
   asp-route-category="@ViewBag.Category"
   class="btn btn-default @nextDisabled">
    Next
</a>
</div>
    
</div>   
</div>
}